body, html {
    /* body size config  */
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    border: none;
}

body {
  /* body background image config , covering the page without any reapted img . */
  background-image: url('./imgs/angryimg.png');
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   /* set align items , children of body tag to center  */
   align-items: center;
   align-self: center;
   justify-content: center;
   /* config the font */
   font-family: 'Tahoma', sans-serif;
   /* if user's broswer size is smaller than fixed minimum height , then show scroll */
   overflow-y: scroll;
}

h1 {
  /* config h1 color and add sum space from lef (margin ) */
  color: navy;
  margin-left: 20px;
}


.main-container{
  /* container that contains the main box class.
set flex display so use the functionality of it .
flex-direction , wrap  is not necessary here because we have just one div as child
set width and height to 100vh,100vw
no functionality this class has just to seprate box parent from body ,its wrote it like this.
   */
    border: none;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    padding: 40px;
    flex-direction: column;


}
.main_box{
  /* this is the window in middle of the page style config
set text color to white
set height fitting to content and set the position in middle of parent


   */
  color: white;
  height: fit-content;
  align-self: center;
/* set colors config and radius for box . */
  background: rgba(152, 152, 147,0.3);
  box-shadow: 0 0 50px rgb(2 78 231 / 50%);
  border: solid black 2px;
  border-radius: 10px;

  /* the dive is flex container again and has it own children
  at first set the children align to center
  then set row direction for content
   */
  justify-items: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

/* padding and margin config +
setting width to 50% . this property makes it look in midde from both right and left side
setting min width so the content items style would not cross the lines (works at chrome correctly)

set z index to 0 (sendig it to back of items ).
*/

  padding: 5px;
  margin-top: 25vh;
  font-size: 18px;
  width: 50%;
  min-width: 400px;
  z-index: 0;


}


.box{
/* the window contains to boxes , first request and second the saved_result
but to boxes in two columns can have lots of property in common . so there  have same
class for each of them.
in this class spaces from parent (margin) and from children  (padding)
and even border between this two has been configed.
set width of each boxes to 48 perc of parent container .
 */
  margin: 2px;
  padding: 2px;
  border: solid rgba(0,0,0,0.2) 2px;
  border-radius: 10px;
  height: 100%;
  width:   48%;
  opacity: 1;
  color: rgba(24, 78, 119);
  color: navy;
  min-width: 200px;
}
.right-container{
  /* the right container class is prediction side style sheet part .
  becuase the direction of flex part here needs to be change so its specified here . */
  display: flex;
  flex-direction: column;
}


.cookie-box{
  /* saved answer box of image config  */
  margin: 1px;
  border-radius: 20px;
  border: dashed rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
/* flex-grow makes the dive to not be fitted to content but resize as much as height,
the parent conatainer has left as space . */
  flex-grow: 1;
  padding-left: 10px;
  text-align: center;
}

#name_text{
  /* input text style sheet . */
    border-radius:12px;
    width: 75%;
    height: 30px;
    background-color: rgba(203, 231, 243, 1);
    font-size: 20px;
}



#submit-btn{
  background: navy;
  color:white;
  margin-left: 10px;
  width:50%;
  height: 24px;
  font-size: 18px;
  left: 20%;
  text-align: center;
  border-radius: 10px;
}

#save-btn{
  background: navy;
  color:white;
  margin-left: 10px;
  width:50%;
  height: 24px;
  font-size: 18px;
  left: 20%;
  text-align: center;
  border-radius: 10px;
}
#save-btn:disabled,
#save-btn[disabled]{
  /* change the defualt disabled css config of button . */
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#clear-btn{
  background: rgba(52, 160, 164,0.5);
  background: navy;
  color:white;
  margin-left: 10px;
  width:50%;
  height: 24px;
  font-size: 18px;
  left: 20%;
  text-align: center;
  border-radius: 10px;
}
